body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #222;
    margin: 0;
    padding: 0;
}

header {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 30px 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header img {
    display: block;
    margin: 0 auto 10px;
    align-items: left;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0;
    font-style: italic;
    font-size: 1em;
}

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

.curso {
    background-color: white;
    border-left: 5px solid #002b5c;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    padding: 20px 25px;
    margin-bottom: 30px;
}

.curso h2 {
    color: #002b5c;
    margin-top: 0;
}

.curso h3 {
    color: #004085;
    margin-top: 15px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}

footer p {
   background-color: #002b5c;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
    font-style: italic;
}

footer p2 {
    .text-white{
        color: #fff !important;
    }
}